body {
    margin: 0;
    text-align: center;
}
.top {
    background-color: aliceblue;
    position: relative;
    padding: 200px;
    font-family: 'Audiowide', sans-serif;
}
.middle {

}
.bottom {

}